body {
background-image: url(./images/backgroundweek2.jpg);
}

.navbar-brand {
    color: rgba(241, 226, 226, 0);
    font-size: 20px;
    -webkit-text-stroke: 1px #30967c;
}

.col-8 {
    justify-content: right;
    background-color: darkslategray;
}