/* tried my damnest to make the background stop after the sticky footer but im convinced there is no such funtion at least in css, in anyrate found out some cool stuff with backgrounds  */

body {
background-image: url(./images/backgroundweek2.jpg);
background-attachment: fixed;
background-size: contain;
}

/* had to be special and do somethig differnt with my name */

.navbar-brand {
    color: rgba(241, 226, 226, 0);
    font-size: 20px;
    -webkit-text-stroke: 1px #30967c;
}

/* added a link from google to use this cool font */

.col-8 {
    background-color: darkslategray;
    font-family: 'Goldman';
    font-size: 20px;
    
}

/* have to admit im using the same style sheet for index and contact and thats where this .selfCentered (lol) came to be. */

.selfCentered {
    text-align: center;
    font-size: 50px;
    color: rgb(131, 139, 141);
}

/* added this second class to the third row to make it stand out as a different subject */

.p2 {
    font-size: 25px;
    color: rgb(131, 139, 141);
    text-justify: center;

}

/* got the image to hold its own agianst oncoming text when scaling down lol */

img {
    height: 200px;
    float: left;
    background:dimgray;
    border: 1px solid dimgray;
    margin: 0 10px 0 0;
    box-shadow: 0 3px 4px black;
}

/* this is the most important part of my whole project here because this is all me no bootstrap here just me, and flexbox */

.artGallery {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.artCard {
    display: flex;
    flex-flow: column wrap;
    margin: .4rem;
    padding: .5rem;
    background-color: darkslategray;
    box-shadow: 0 3px 4p black;
    flex-grow: 2;
}

.artCard h5 {
    margin: .2rem 0;
    text-align: center;
}

.artCard > img{
    align-self: center;
}

.rastaR {
    border-top: 5px dashed red;
    box-shadow: 3px 3px 3px black;

}

.rastaG {
    border-top: 5px dashed green;
    box-shadow: 3px 3px 3px black;
}

.rastaY {
    border-top: 5px dashed yellow;
    box-shadow: 3px 3px 4px black;
}    
